/docs/_build/
/docs/source/
/docs/stubs/
/docs/superpowers/
/tmp/
!/main_notebook.ipynb
dist/
__pycache__
*.pyc
poetry.lock
/.idea_backup
/.idea/
/.ipynb_checkpoints
ef_grid.png
main.py
main_notebook.ipynb
.env
.env.*
!.env.example
